body {
    background-color: rgba(211, 145, 22, 0.041);
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    
    width: 60rem;
    border-radius: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    display: grid;
}

h1 {
    justify-content: center;
    display: flex;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem;
    font-size: 3rem;
    padding-bottom: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.3px;

}

#tacoPicOne {
    width: 22rem;
    float: left;
    border-radius: 1.2rem;
    border: .15em solid black;
    margin-right: 3em;
    margin-bottom: 3em;
    margin-left: 3em;
    justify-content: left;
    display: flex;
    margin-top: 2em;
}

.header2 {
    padding-left: 8rem;
    font-size: 1.9rem;
    text-decoration: underline;
    height: .6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

#ingredientsList {
    padding-left: 5rem;
    font-size: 1.75rem;
    padding-bottom: 2rem;
    float: left;
    text-align: left;
   border-bottom: 1px solid black;

    
}

#instructionsList {
    padding-left: 5rem;
    font-size: 1.7rem;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

#tacoPicTwo {
    width: 75%;
    height: 17rem;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 1.2rem;
    margin-top: 2rem;

}

#homeButton {
    padding: .4rem;
    width: 4.5rem;
    border-radius: .2rem;
    margin-left: 1.2rem;
    margin-bottom: .6rem;
    cursor: pointer;
    transition: .5s;
    margin-top: 2rem;

}

#homeButton:hover {
    background-color: rgb(180, 55, 55);
    color: white;
}

li {
    padding: .3rem;
}

#headerAndList1 {
   border-bottom: 1px solid black;
}

#ingredientsHeader {
    display: flex;
}

a{
    justify-content: center;
    text-align: center;
}