body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem; /* Added margin bottom for spacing */
}

#carnitas, #friedFish, #barbacoa, #waffletaco, #carneAsada, #groundBeef, #shrimp, #blackjack {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 1rem; /* Added margin for spacing */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

#secondRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; /* Added margin top for spacing */
}

/* Hover effect */
#carnitas:hover, #friedFish:hover, #barbacoa:hover, #waffletaco:hover, 
#carneAsada:hover, #groundBeef:hover, #shrimp:hover, #blackjack:hover {
    cursor: pointer;
    transform: scale(1.1); /* Scale up by 10% on hover */
}
